#hash-component{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#hash-input {
    margin-block: 10px;
    width: 95%;
    height: 50px;
    word-break: break-all;
    text-align: center;
    padding: 10px;
    border: 1px solid #46088d;
    border-radius: 5px;
    background-color: #10002132;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

#hash-input:focus {
  outline: none;
  border-color: #7a33ff;       
  box-shadow: 0 0 5px #7a33ff;
}

#submit {
  outline: none;
  border: none;
  margin-bottom: 10px;
  background-color: #270045;
  color: white;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
    justify-content: center;
    align-items: center;
  #scan-icon {
    font-size: 17px;
    font-weight: bold;
  }
}

#submit:hover {
  background-color: #46088d;
}

#response-section{
    width: 95%;
    margin-top: 20px;
    border: 1px solid #46088d;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    box-sizing: border-box;
}
