@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" );


.landing {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}